<%- include('_header') -%>

<main class="main">
    <div class="user-view__content">
        <div class="user-view__form-container">
            <h2 class="heading-secondary ma-bt-md">Edit Shipment</h2>
            <form class="form form-shipment-data">
                <input type="hidden" id="shipmentId" value="<%= shipment.id; %>">
                <div class="form__group ma-bt-md"><label class="form__label" for="customer">Customer</label>
                    <select class="form__input" id="companyName">
                        <% customers.forEach((customer) => { %>
                            <% let isSelected = (customer.companyName === shipment.customer.companyName) %>
                            <option value="<%= customer._id %>" <%= (isSelected) ? "selected" : "" %>><%= customer.companyName %></option>
                        <% }); %>
                    </select>
                </div>



                <div class="form__group ma-bt-md">
                    <label class="form__label" for="shipmentDate">Shipment Date</label>
                    <input class="form__input" id="shipmentDate" type="date" value="<%= shipment.shipmentDate.toISOString().substring(0, 10); %>"/>
                </div>



                <div class="form__group"><label class="form__label" for="amount">Amount</label><input
                            class="form__input" id="amount" type="text" value="<%= shipment.amount; %>"/></div>

                <div class="form__group ma-bt-md">
                    <label class="form__label" for="inStock">in Stock</label>
                    <input class="form__input" id="inStock" type="checkbox" value="<%= shipment.inStock; %>" <%= shipment.inStock ? 'checked' : '' %>/>
                </div>


                <div class="form__group ma-bt-md">
                    <label class="form__label" for="deliveryNote">Delivery Note</label>
                    <input class="form__input" id="deliveryNote" type="checkbox" value="<%= shipment.deliveryNote; %>" <%= shipment.deliveryNote ? 'checked' : '' %>/>
                </div>

                <div class="form__group ma-bt-md">
                    <label class="form__label" for="rk">RK</label>
                    <input class="form__input" id="rk" type="checkbox" value="<%= shipment.rk; %>" <%= shipment.rk ? 'checked' : '' %>/>

                <div class="form__group ma-bt-md"><label class="form__label" for="comment">Comment</label><input
                            class="form__input" id="comment" type="text" value="<%= shipment.comment; %>"/></div>


                <button class="btn btn--small btn--green">Save Shipment</button>
            </form>
        </div>
    </div>
</main>

<%- include('_footer') -%>
